<title>Leap years</title>
{% extends "home.html" %}
{% block content %}

<div class="container">
  <h1 class="mt-4 mb-3">Leap years</h1>
    <h2>Leap years from 1900 to 2100:</h2>
    {% for year in leap_years %}
        {{year}}
    {% endfor %}

</br>
</br>
<form action="{{ url_for('leap_year', year=year) }}" method="POST">
    <div class="row g-3 align-items-center">
        <div class="col-auto">
            <label class="col-form-label">Enter a year:</label>
        </div>
        <div class="col-auto">
            <input type="number" required="required" class="form-control" name="year"></p>
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-success form-control">Check if leap year</button>
        </div>
    </div>
</form>
{% if answer %}
    <p><strong>{{ answer }}</strong></p>
{% endif %}

</div>
{% endblock %}