<title>Posts</title>
{% extends "parent.html" %}
{% block content %}
<div class="container">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h1 class="mt-4 mb-3">Posts</h1>
    <a href="{{ url_for('new_post') }}" class="btn btn-primary float-right">Create Post</a>
  </div>

  <br>
    <table class="table table-dark table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Date</th>
      <th scope="col">Author(s)</th>
      <th scope="col">Title</th>
      <th scope="col">Read</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
  {% for post in posts %}
    <tr>
      <th scope="row">{{ loop.index0 + 1}}</th>
      <td>{{post.date}}</td>
<!--      <td>{{post.authors}}</td>-->
      <td>
    {% for author in post.authors %}
      {{ author }}{% if not loop.last %}, {% endif %}
    {% endfor %}
      </td>
      <td>{{post.title}}</td>
      <td><a href="{{ url_for('article', post_id=post.id) }}">Read more...</a></td>
      <td><a href="{{ url_for('delete_post', post_id=post.id) }}" style="color:red;">Delete</a></td>

    </tr>
  {% endfor %}
  </tbody>
</table>


</div>
{% endblock %}