<!-- Register modal -->
<div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="registerModalLabel">Register</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="POST" action="{{ url_for('register') }}">
          {{ register_form.hidden_tag() }}
          <div class="mb-3">
            {{ register_form.username.label }} {{ register_form.username(class="form-control", id="register-username") }}
          </div>
          <div class="mb-3">
            {{ register_form.email.label }} {{ register_form.email(class="form-control", id="register-email", aria_describedby="emailHelp") }}
          </div>
          <div class="mb-3">
            {{ register_form.password.label }} {{ register_form.password(class="form-control", id="register-password") }}
          </div>
          <div class="mb-3">
            {{ register_form.confirm_password.label }} {{ register_form.confirm_password(class="form-control", id="register-confirm-password") }}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            {{ register_form.submit(class="btn btn-primary") }}
          </div>
        </form>
      </div>
    </div>
  </div>
</div>